{% extends 'base.html' %}
<title>{{ book.title }}</title>
{% block content %}
<!-- Your existing book list display -->
<a href="{{menu_data('Books').url}}/{{data.current_page}}">Back</a><br>
<form action="/action/edit_book/{{ book.id }}" method="post">
    <button>Edit</button><br>
</form>
<form action="/action/delete_book/{{ book.id }}" method="get">
    <button>Delete</button><br>
</form>
{% for book in books %}
    <div class="book">
        <h2>{{ book.title }}</h2>
        <!-- other book details -->
    </div>
{% endfor %}

<!-- Your existing pagination controls again at the bottom -->
<div class="pagination">
{% for tag in tags %}
    {{ tag }}
{% endfor %}
{{ description }}<br>
<br>{% include "includes/paginator_book.html" %}<br>
{{ content }}
<br>{% include "includes/paginator_book.html" %}<br>
{% endblock %}